/*general*/

*{ 
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f6f7f8;
    box-sizing: border-box;
}
 
 body{
    background-color: grey;
 }

 /*header*/
header{
    margin-bottom: 50px;
    
    
}

.logo{
    vertical-align: middle;
    margin: 5px;
}

 /*body*/
main{
    margin: auto;
    width: 80%;
    background-color:grey;
}
.barra{
    border-radius: 5px 5px 0px 0px ;
    line-height: 60px;
    height: 60px;
    margin-bottom: 2px;
    }

 .addtask{
     margin: 40px 0 0 40px;
     padding: 6px;
     background-color: #6099fb;
     color: white;
     border-radius: 5px;
 }
 
 .task ul{
     list-style: none inside;
}

 .task{
    padding: 2% 0 2% 5%;
}

 .addsection{
    padding: 6px;
    background-color: white;
    color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
}

/*icone*/
.iconV{
    padding: 0 3px;
    border: 1px solid #6ccfb3;
    border-radius: 50%;
    color: #6ccfb3;
}
.iconX{
    padding: 0 3px;
    border: 1px solid #eb300f;
    border-radius: 50%;
    color: #eb300f;
}

/*Label*/

.labelorange{
    background-color:#eda300;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.labelblue{
    background-color:#5d99f2;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.labelred{
    background-color:#dd359f;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.labellightgreen{
    background-color:#9fdc00;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.labelgreen{
    background-color:#5ac7a7;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.labelviolet{
    background-color:#ab21ed;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}




 /*layout*/
 
 
 /*list content*/






 /*footer*/
 /****************/
 /*footer assente*/
 /****************/
 
 
 
 
 
 
 
 
 
 
 